# BACKEND .ENV Variables for Render

PORT=3000
MONGO_URI=mongodb+srv://anuragdaksh07_db_user:VMHGdDkVKTesCjyT@cluster0.upo6xw4.mongodb.net/attendance_db
JWT_SECRET=supersecretjwtkey_12345
FRONTEND_URL=https://your-vercel-app-url.vercel.app # Update this after frontend deployment
